<!DOCTYPE html>
<html>
<!--ctrl+shift+v to render preview-->

<head>
    <title>Practice 1</title>

</head>

<body>
    <header>Tarassov Nikita Practie 1</header>
    <br><br><br><br>
    <h1>Main page</h1>
    <div class="container">
        <br><a href="/signup">Sign up page</a>
    </div>
    <div class="container">
        <br><a href="/auth">Log in page</a>
    </div>
    <div class="container">
        <br><a href="/upload">Upload your files</a>
    </div>
    <div class="container">
        <br><a href="/notebook">Notebook</a>
    </div>

</body>

</html>