<!DOCTYPE html>
<html>
<!--ctrl+shift+v to render preview-->

<head>
    <title>Practice 1</title>

</head>

<body>
    <header>Tarassov Nikita Practie 1</header>
    <br><br><br><br>
    <h1>Secret page!</h1>
    <br><br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <br><br>
    <div class="container">
        <br><a href="/">Main page</a>
    </div>

</body>

</html>